body {
    background-color: #002828;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;

}
.btn-container.btn, img {
    height: 100px;
    filter: invert(100%);
}

button {
    background-color: transparent;
    border: 5px solid white;
    padding: 25px;
}
h1 {
    display: flex;
    justify-content: center;
}
.result-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
    width: 60%;
  
}
.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 70px;
    
}
p {
    margin-top: 40px;
    font-size: 30px;
}

.choice {
    border: 5px solid black;
    padding: 40px;
    border-radius: 30px;
}
.vs {
    display: flex;
    align-items: center;
    font-size: 40px;
    margin-left: 10px;
    margin-right: 10px;
}
.main-container{
    display: flex;
    justify-content: center;
    gap: 30px;
}
h4 {
    text-align: center;
    margin-bottom: 30px;
}
h3 {
    text-align: center;
}